.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 70px;
}

.weather-card:hover {
  box-shadow: 5px 5px 15px 5px #C0E5FF
}

.nav-bg-custom {
  background: #F2F2F2;
  background: -moz-linear-gradient(left, #F2F2F2 0%, #E6F3FF 81%, #FFFCFC 100%);
  background: -webkit-linear-gradient(left, #F2F2F2 0%, #E6F3FF 81%, #FFFCFC 100%);
  background: linear-gradient(to right, #F2F2F2 0%, #E6F3FF 81%, #FFFCFC 100%);
}

.weather-card-body:hover {
  cursor: pointer
}